*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  max-height: 800px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-rows: 534px;
  gap: 30px;
  margin: 133px 30px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.result__video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  position: relative;
  height: 386px;
}

.result__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.search-form__label {
  width: fit-content;
}

.search-form__fieldset {
  display: grid;
  border: none;
  padding: 0;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 1);
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background-color: transparent;
  position: relative;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 5px;
  cursor: pointer;
  outline: none;
}

.search-form__textfield {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  background-color: transparent;
  width: 225px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  border-top: 1px solid rgba(255, 255, 255, 1);
  appearance: none;
}

.search-form__label-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.search-form__checkbox {
  cursor: pointer;
}

.content__details {
  display: flex;
  flex-direction: column;
}

.content__list {
  flex-wrap: nowrap;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  position: relative;
}

.content__list-item:not(:last-child) {
  padding-bottom: 30px;
}

.content__video-card-description-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card {
  display: flex;
  text-decoration: none;
}

.content__video-card:hover {
  text-decoration: underline;
}

.content__video-card-thumbnail {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 103px;
  width: 194px;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.content__video-card-description {
  line-height: 16.2px;
}

.content__video-card-description-container:active {
  background-color: rgba(84, 80, 80, 1);
  text-decoration: none;
}

.button {
  cursor: pointer;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
  padding: 0;
  border: 1px solid rgba(255, 255, 255, 1);
  text-decoration: none;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
  text-decoration: none;
}

.search-form__submit-button {
  width: 194px;
}

.more-button {
  width: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
